# Force lombok to annotate constructors so Jackson can identify them as default
# Creators, for Java 9 we will need to add the java.desktop module to the project
lombok.anyConstructor.addConstructorProperties = true
# Stop lombok from looking at parent directories for more configuration files
config.stopBubbling = true

# See: https://www.rainerhahnekamp.com/en/ignoring-lombok-code-in-jacoco/
#
# Beginning with version 0.8.0, Jacoco can detect, identify, and ignore Lombok-generated code.
# The only thing you as the developer have to do is to create a file named lombok.config in your
# directory's root and set the lombok.addLombokGeneratedAnnotation flag to true
#
# This adds the annotation lombok.@Generated to the relevant methods, classes and fields.
# Jacoco is aware of this annotation and will ignore that annotated code
#
# In order for Sonar to do the same, the SonarJava Plugin must be updated
#
# From the JaCoCo changelong:
#   Note: Tools that directly read exec files and embed JaCoCo for this (such as SonarQube or Jenkins) will provide
#   filtering functionality only after they updated to this version of JaCoCo.
#
# Related Sonar JIRA Issue: https://jira.sonarsource.com/browse/SONARJAVA-2608
lombok.addLombokGeneratedAnnotation = true
